In [20]:
import pandas as pd 
import numpy as np

In [21]:
high = pd.read_excel('./excel/highschool.xlsx', encoding='utf-8')
high

,소속,학교급,설립,학교명,자치구,남녀공학구분,개교일자,우편번호,주소,전화번호,팩스번호,홈페이지
0,본청,각종학교(고),공립,부산산업학교,사상구,남여공학,19910301,46941,"부산광역시 사상구 백양대로768번길 64 (덕포동, 부산산업학교)",0513098214,0513098210,http://www.sanup.hs.kr
1,본청,고등기술학교,사립,부산국제영화고등학교,동구,남여공학,19560502,48792,"부산광역시 동구 고관로 68 , 부산국제영화고등학교 (초량동)",0514670404,0514686559,http://www.bifh.co.kr
2,본청,고등학교,국립,부산기계공업고등학교,해운대구,남,19670311,48088,부산광역시 해운대구 해운대로 569 (우동),0517415111,0517415045,http://www.bmt.hs.kr
3,본청,고등학교,국립,부산대학교사범대학부설고등학교,금정구,남여공학,19720106,46239,"부산광역시 금정구 기찰로22번길 30 (부곡동,부산대학교사범대학부설고등학교)",0515151345,0515151346,http://pusan-ah.hs.kr
4,본청,고등학교,국립,부산해사고등학교,영도구,남여공학,19780327,49111,부산광역시 영도구 해양로 425 (동삼동),0514102000,0514129261,http://www.maritime.hs.kr
...,...,...,...,...,...,...,...,...,...,...,...,...
140,본청,고등학교,사립,해운대고등학교,해운대구,남,19800124,48086,"부산광역시 해운대구 우동3로11번길 43 (우동, 해운대고등학교)",0517420312,0517319838,http://www.haeundae.hs.kr
141,본청,고등학교,사립,해운대관광고등학교,해운대구,남여공학,19721229,48086,"부산광역시 해운대구 우동2로60번길 38 (우동,해운대관광고등학교)",051)742004,051)741434,http://www.h-tour.hs.kr
142,본청,고등학교,사립,해운대여자고등학교,해운대구,여,19811125,48085,"부산광역시 해운대구 우동1로85번길 71 (우동, 해운대여자고등학교)",0517416813,0517416812,http://hwdghs.hs.kr
143,본청,고등학교,사립,혜광고등학교,중구,남,19550329,48903,"부산광역시 중구 망양로259번길 5 (보수동1가,혜광고등학교)",0512501081,0512501088,http://www.hyekwang.hs.kr
144,본청,고등학교,사립,혜화여자고등학교,동래구,여,19550405,47769,"부산광역시 동래구 명장로99번길 23 , (명장동, 혜화여자고등학교)",0515281740,0515285456,http://www.hye-hwa.hs.kr

In [22]:
high = high[['학교명','자치구']]
high

                 학교명   자치구
0             부산산업학교   사상구
1         부산국제영화고등학교    동구
2         부산기계공업고등학교  해운대구
3    부산대학교사범대학부설고등학교   금정구
4           부산해사고등학교   영도구
..               ...   ...
140          해운대고등학교  해운대구
141        해운대관광고등학교  해운대구
142        해운대여자고등학교  해운대구
143           혜광고등학교    중구
144         혜화여자고등학교   동래구

[145 rows x 2 columns]

In [23]:
high = high.rename(columns={'자치구':'GUGUN})

                 학교명 GUGUN
0             부산산업학교   사상구
1         부산국제영화고등학교    동구
2         부산기계공업고등학교  해운대구
3    부산대학교사범대학부설고등학교   금정구
4           부산해사고등학교   영도구
..               ...   ...
140          해운대고등학교  해운대구
141        해운대관광고등학교  해운대구
142        해운대여자고등학교  해운대구
143           혜광고등학교    중구
144         혜화여자고등학교   동래구

[145 rows x 2 columns]

In [26]:
high.groupby('GUGUN').count()

       학교명
GUGUN
강서구      6
금정구     14
기장군      5
남구      15
동구       6
동래구     13
부산진구    18
북구       9
사상구      6
사하구     14
서구       5
수영구      4
연제구      5
영도구      7
중구       4
해운대구    14

In [28]:
high.to_csv('./csv/school/high.csv', encoding='euc-kr')