In [3]:
import pandas as pd

In [16]:
real = pd.read_csv('./csv/real_data.csv')
real

,GUGUN,버정수,치안율,지하철역수,공원수,은행수,유치원수,마트수,약국수,학교수,공공기관수,주차장수,문화시설수,아파트평당가격,행사수,병원수,elementary_cnt,middle_cnt,high_cnt
0,강서구,64.0,74.393723,3.0,72.0,0.0,1.0,1.0,0.0,0.0,0.0,16.0,1.0,900.0,350.0,1.0,17,11,6
1,금정구,42.0,85.841343,9.0,36.0,0.0,1.0,1.0,0.0,2.0,1.0,4.0,1.0,900.0,1234.0,8.0,22,12,14
2,기장군,24.0,84.019095,2.0,83.0,0.0,1.0,0.0,0.0,0.0,1.0,14.0,1.0,725.0,501.0,4.0,21,7,5
3,남구,54.0,81.613035,6.0,41.0,0.0,1.0,1.0,0.0,3.0,1.0,9.0,1.0,850.0,4343.0,7.0,18,13,15
4,동구,15.0,85.595960,5.0,4.0,2.0,1.0,0.0,1.0,0.0,1.0,4.0,2.0,500.0,521.0,8.0,7,6,6
5,동래구,56.0,82.966828,11.0,48.0,0.0,5.0,1.0,3.0,1.0,1.0,4.0,NaN,1000.0,1603.0,25.0,22,14,13
6,부산진구,62.0,74.354362,10.0,31.0,5.0,2.0,3.0,3.0,2.0,1.0,3.0,1.0,900.0,2048.0,80.0,32,18,18
7,북구,43.0,87.089070,13.0,72.0,0.0,1.0,0.0,0.0,1.0,1.0,19.0,2.0,750.0,1021.0,16.0,27,16,9
8,사상구,51.0,88.089766,7.0,32.0,2.0,0.0,1.0,2.0,3.0,1.0,20.0,1.0,700.0,719.0,7.0,21,10,6
9,사하구,69.0,79.586089,12.0,60.0,0.0,0.0,0.0,1.0,1.0,1.0,23.0,1.0,500.0,1163.0,16.0,27,16,14
10,서구,17.0,85.512266,3.0,13.0,0.0,0.0,0.0,0.0,1.0,1.0,5.0,1.0,800.0,596.0,8.0,11,7,5
11,수영구,10.0,81.613035,7.0,14.0,2.0,1.0,1.0,0.0,0.0,1.0,5.0,1.0,1100.0,1825.0,13.0,10,6,4
12,연제구,18.0,77.875998,8.0,20.0,1.0,1.0,3.0,0.0,0.0,3.0,7.0,1.0,850.0,1393.0,12.0,16,8,5
13,영도구,19.0,110.191496,0.0,15.0,0.0,0.0,0.0,0.0,1.0,0.0,6.0,0.0,500.0,568.0,2.0,14,9,7
14,중구,7.0,79.485725,3.0,5.0,1.0,0.0,0.0,2.0,0.0,0.0,15.0,2.0,500.0,246.0,3.0,4,1,4
15,해운대구,21.0,82.815341,10.0,69.0,2.0,0.0,3.0,3.0,0.0,1.0,17.0,4.0,1000.0,3822.0,30.0,33,19,14

In [21]:
real = real.set_index('GUGUN')
real

,버정수,치안율,지하철역수,공원수,은행수,유치원수,마트수,약국수,학교수,공공기관수,주차장수,문화시설수,아파트평당가격,행사수,병원수,elementary_cnt,middle_cnt,high_cnt
GUGUN,,,,,,,,,,,,,,,,,,
강서구,64.0,74.393723,3.0,72.0,0.0,1.0,1.0,0.0,0.0,0.0,16.0,1.0,900.0,350.0,1.0,17,11,6
금정구,42.0,85.841343,9.0,36.0,0.0,1.0,1.0,0.0,2.0,1.0,4.0,1.0,900.0,1234.0,8.0,22,12,14
기장군,24.0,84.019095,2.0,83.0,0.0,1.0,0.0,0.0,0.0,1.0,14.0,1.0,725.0,501.0,4.0,21,7,5
남구,54.0,81.613035,6.0,41.0,0.0,1.0,1.0,0.0,3.0,1.0,9.0,1.0,850.0,4343.0,7.0,18,13,15
동구,15.0,85.595960,5.0,4.0,2.0,1.0,0.0,1.0,0.0,1.0,4.0,2.0,500.0,521.0,8.0,7,6,6
동래구,56.0,82.966828,11.0,48.0,0.0,5.0,1.0,3.0,1.0,1.0,4.0,NaN,1000.0,1603.0,25.0,22,14,13
부산진구,62.0,74.354362,10.0,31.0,5.0,2.0,3.0,3.0,2.0,1.0,3.0,1.0,900.0,2048.0,80.0,32,18,18
북구,43.0,87.089070,13.0,72.0,0.0,1.0,0.0,0.0,1.0,1.0,19.0,2.0,750.0,1021.0,16.0,27,16,9
사상구,51.0,88.089766,7.0,32.0,2.0,0.0,1.0,2.0,3.0,1.0,20.0,1.0,700.0,719.0,7.0,21,10,6
사하구,69.0,79.586089,12.0,60.0,0.0,0.0,0.0,1.0,1.0,1.0,23.0,1.0,500.0,1163.0,16.0,27,16,14
서구,17.0,85.512266,3.0,13.0,0.0,0.0,0.0,0.0,1.0,1.0,5.0,1.0,800.0,596.0,8.0,11,7,5
수영구,10.0,81.613035,7.0,14.0,2.0,1.0,1.0,0.0,0.0,1.0,5.0,1.0,1100.0,1825.0,13.0,10,6,4
연제구,18.0,77.875998,8.0,20.0,1.0,1.0,3.0,0.0,0.0,3.0,7.0,1.0,850.0,1393.0,12.0,16,8,5
영도구,19.0,110.191496,0.0,15.0,0.0,0.0,0.0,0.0,1.0,0.0,6.0,0.0,500.0,568.0,2.0,14,9,7
중구,7.0,79.485725,3.0,5.0,1.0,0.0,0.0,2.0,0.0,0.0,15.0,2.0,500.0,246.0,3.0,4,1,4
해운대구,21.0,82.815341,10.0,69.0,2.0,0.0,3.0,3.0,0.0,1.0,17.0,4.0,1000.0,3822.0,30.0,33,19,14

In [25]:
real.shape

(16, 18)

In [ ]:
total = pd.read_csv('./csv/total_data.csv', encoding='utf-8')
total = total.rename(columns={'Unnamed: 0':'GUGUN'})
total
total = total.set_index('GUGUN')
total

In [5]:
department = pd.read_csv('./csv/department/gugun_department.csv', encoding='euc-kr')
department = department.set_index('GUGUN')
department

       백화점수
GUGUN
금정구       1
동구        1
동래구       1
부산진구      4
중구        2
해운대구      3

In [6]:
library = pd.read_csv('./csv/library/gugun_library.csv', encoding='euc-kr')
library = library.set_index('GUGUN')
library = library.iloc[:, [1]]

In [7]:
library = library.rename(index={'부산중구':'중구'})

In [8]:
library

       도서관수
GUGUN
강서구      19
금정구       1
남구       31
동구        1
동래구       2
중구        7
부산진구      9
북구        3
사상구      14
사하구      18
서구       16
수영구       3
연제구       5
영도구      18
해운대구      4

In [9]:
market = pd.read_csv('./csv/market/gugun_market.csv', encoding='euc-kr')
market = market.set_index('GUGUN')
market
market = market.iloc[:, [1]]
market

       시장수
GUGUN
강서구      3
금정구      8
기장군      3
남구      12
동구      11
동래구     15
부산진구    33
북구       7
사상구     19
사하구     15
서구       9
수영구     20
연제구     10
영도구      3
중구      18
해운대구    13

In [11]:
total = pd.concat([department, library, market], axis=1)
total

C:\Users\admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

      백화점수  도서관수  시장수
강서구    NaN  19.0    3
금정구    1.0   1.0    8
기장군    NaN   NaN    3
남구     NaN  31.0   12
동구     1.0   1.0   11
동래구    1.0   2.0   15
부산진구   4.0   9.0   33
북구     NaN   3.0    7
사상구    NaN  14.0   19
사하구    NaN  18.0   15
서구     NaN  16.0    9
수영구    NaN   3.0   20
연제구    NaN   5.0   10
영도구    NaN  18.0    3
중구     2.0   7.0   18
해운대구   3.0   4.0   13

In [12]:
total

      백화점수  도서관수  시장수
강서구    NaN  19.0    3
금정구    1.0   1.0    8
기장군    NaN   NaN    3
남구     NaN  31.0   12
동구     1.0   1.0   11
동래구    1.0   2.0   15
부산진구   4.0   9.0   33
북구     NaN   3.0    7
사상구    NaN  14.0   19
사하구    NaN  18.0   15
서구     NaN  16.0    9
수영구    NaN   3.0   20
연제구    NaN   5.0   10
영도구    NaN  18.0    3
중구     2.0   7.0   18
해운대구   3.0   4.0   13

In [14]:
total = total.fillna(0)
total

      백화점수  도서관수  시장수
강서구    0.0  19.0    3
금정구    1.0   1.0    8
기장군    0.0   0.0    3
남구     0.0  31.0   12
동구     1.0   1.0   11
동래구    1.0   2.0   15
부산진구   4.0   9.0   33
북구     0.0   3.0    7
사상구    0.0  14.0   19
사하구    0.0  18.0   15
서구     0.0  16.0    9
수영구    0.0   3.0   20
연제구    0.0   5.0   10
영도구    0.0  18.0    3
중구     2.0   7.0   18
해운대구   3.0   4.0   13

In [15]:
total = total.rename(columns={'count_bus':'bus_cnt', 'railroad_count':'railroad_cnt', '공원명':'park_cnt', '주차장명':'parking_cnt', '2018_계_시설수 (개)':'sisul', '백화점수':'department_cnt', '도서관수':'library_cnt', '시장수':'market_cnt'})
total

      department_cnt  library_cnt  market_cnt
강서구              0.0         19.0           3
금정구              1.0          1.0           8
기장군              0.0          0.0           3
남구               0.0         31.0          12
동구               1.0          1.0          11
동래구              1.0          2.0          15
부산진구             4.0          9.0          33
북구               0.0          3.0           7
사상구              0.0         14.0          19
사하구              0.0         18.0          15
서구               0.0         16.0           9
수영구              0.0          3.0          20
연제구              0.0          5.0          10
영도구              0.0         18.0           3
중구               2.0          7.0          18
해운대구             3.0          4.0          13

In [22]:
real_total = pd.concat([real,total], axis=1)
real_total

,버정수,치안율,지하철역수,공원수,은행수,유치원수,마트수,약국수,학교수,공공기관수,...,문화시설수,아파트평당가격,행사수,병원수,elementary_cnt,middle_cnt,high_cnt,department_cnt,library_cnt,market_cnt
GUGUN,,,,,,,,,,,,,,,,,,,,,
강서구,64.0,74.393723,3.0,72.0,0.0,1.0,1.0,0.0,0.0,0.0,...,1.0,900.0,350.0,1.0,17,11,6,0.0,19.0,3
금정구,42.0,85.841343,9.0,36.0,0.0,1.0,1.0,0.0,2.0,1.0,...,1.0,900.0,1234.0,8.0,22,12,14,1.0,1.0,8
기장군,24.0,84.019095,2.0,83.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,725.0,501.0,4.0,21,7,5,0.0,0.0,3
남구,54.0,81.613035,6.0,41.0,0.0,1.0,1.0,0.0,3.0,1.0,...,1.0,850.0,4343.0,7.0,18,13,15,0.0,31.0,12
동구,15.0,85.595960,5.0,4.0,2.0,1.0,0.0,1.0,0.0,1.0,...,2.0,500.0,521.0,8.0,7,6,6,1.0,1.0,11
동래구,56.0,82.966828,11.0,48.0,0.0,5.0,1.0,3.0,1.0,1.0,...,NaN,1000.0,1603.0,25.0,22,14,13,1.0,2.0,15
부산진구,62.0,74.354362,10.0,31.0,5.0,2.0,3.0,3.0,2.0,1.0,...,1.0,900.0,2048.0,80.0,32,18,18,4.0,9.0,33
북구,43.0,87.089070,13.0,72.0,0.0,1.0,0.0,0.0,1.0,1.0,...,2.0,750.0,1021.0,16.0,27,16,9,0.0,3.0,7
사상구,51.0,88.089766,7.0,32.0,2.0,0.0,1.0,2.0,3.0,1.0,...,1.0,700.0,719.0,7.0,21,10,6,0.0,14.0,19
사하구,69.0,79.586089,12.0,60.0,0.0,0.0,0.0,1.0,1.0,1.0,...,1.0,500.0,1163.0,16.0,27,16,14,0.0,18.0,15
서구,17.0,85.512266,3.0,13.0,0.0,0.0,0.0,0.0,1.0,1.0,...,1.0,800.0,596.0,8.0,11,7,5,0.0,16.0,9
수영구,10.0,81.613035,7.0,14.0,2.0,1.0,1.0,0.0,0.0,1.0,...,1.0,1100.0,1825.0,13.0,10,6,4,0.0,3.0,20
연제구,18.0,77.875998,8.0,20.0,1.0,1.0,3.0,0.0,0.0,3.0,...,1.0,850.0,1393.0,12.0,16,8,5,0.0,5.0,10
영도구,19.0,110.191496,0.0,15.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,500.0,568.0,2.0,14,9,7,0.0,18.0,3
중구,7.0,79.485725,3.0,5.0,1.0,0.0,0.0,2.0,0.0,0.0,...,2.0,500.0,246.0,3.0,4,1,4,2.0,7.0,18
해운대구,21.0,82.815341,10.0,69.0,2.0,0.0,3.0,3.0,0.0,1.0,...,4.0,1000.0,3822.0,30.0,33,19,14,3.0,4.0,13

In [23]:
real_total.to_csv('./csv/real_total.csv', encoding='utf-8' )

In [24]:
real_total

,버정수,치안율,지하철역수,공원수,은행수,유치원수,마트수,약국수,학교수,공공기관수,...,문화시설수,아파트평당가격,행사수,병원수,elementary_cnt,middle_cnt,high_cnt,department_cnt,library_cnt,market_cnt
GUGUN,,,,,,,,,,,,,,,,,,,,,
강서구,64.0,74.393723,3.0,72.0,0.0,1.0,1.0,0.0,0.0,0.0,...,1.0,900.0,350.0,1.0,17,11,6,0.0,19.0,3
금정구,42.0,85.841343,9.0,36.0,0.0,1.0,1.0,0.0,2.0,1.0,...,1.0,900.0,1234.0,8.0,22,12,14,1.0,1.0,8
기장군,24.0,84.019095,2.0,83.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,725.0,501.0,4.0,21,7,5,0.0,0.0,3
남구,54.0,81.613035,6.0,41.0,0.0,1.0,1.0,0.0,3.0,1.0,...,1.0,850.0,4343.0,7.0,18,13,15,0.0,31.0,12
동구,15.0,85.595960,5.0,4.0,2.0,1.0,0.0,1.0,0.0,1.0,...,2.0,500.0,521.0,8.0,7,6,6,1.0,1.0,11
동래구,56.0,82.966828,11.0,48.0,0.0,5.0,1.0,3.0,1.0,1.0,...,NaN,1000.0,1603.0,25.0,22,14,13,1.0,2.0,15
부산진구,62.0,74.354362,10.0,31.0,5.0,2.0,3.0,3.0,2.0,1.0,...,1.0,900.0,2048.0,80.0,32,18,18,4.0,9.0,33
북구,43.0,87.089070,13.0,72.0,0.0,1.0,0.0,0.0,1.0,1.0,...,2.0,750.0,1021.0,16.0,27,16,9,0.0,3.0,7
사상구,51.0,88.089766,7.0,32.0,2.0,0.0,1.0,2.0,3.0,1.0,...,1.0,700.0,719.0,7.0,21,10,6,0.0,14.0,19
사하구,69.0,79.586089,12.0,60.0,0.0,0.0,0.0,1.0,1.0,1.0,...,1.0,500.0,1163.0,16.0,27,16,14,0.0,18.0,15
서구,17.0,85.512266,3.0,13.0,0.0,0.0,0.0,0.0,1.0,1.0,...,1.0,800.0,596.0,8.0,11,7,5,0.0,16.0,9
수영구,10.0,81.613035,7.0,14.0,2.0,1.0,1.0,0.0,0.0,1.0,...,1.0,1100.0,1825.0,13.0,10,6,4,0.0,3.0,20
연제구,18.0,77.875998,8.0,20.0,1.0,1.0,3.0,0.0,0.0,3.0,...,1.0,850.0,1393.0,12.0,16,8,5,0.0,5.0,10
영도구,19.0,110.191496,0.0,15.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,500.0,568.0,2.0,14,9,7,0.0,18.0,3
중구,7.0,79.485725,3.0,5.0,1.0,0.0,0.0,2.0,0.0,0.0,...,2.0,500.0,246.0,3.0,4,1,4,2.0,7.0,18
해운대구,21.0,82.815341,10.0,69.0,2.0,0.0,3.0,3.0,0.0,1.0,...,4.0,1000.0,3822.0,30.0,33,19,14,3.0,4.0,13

In [162]:
elementary=pd.read_csv('./csv/school/elementary.csv', encoding='euc-kr')
elementary

   GUGUN  기관명
0    강서구   17
1    금정구   22
2    기장군   21
3     남구   18
4     동구    7
5    동래구   22
6   부산진구   32
7     북구   27
8    사상구   21
9    사하구   27
10    서구   11
11   수영구   10
12   연제구   16
13   영도구   14
14    중구    4
15  해운대구   33

In [163]:
elementary = elementary.set_index('GUGUN')
elementary

       기관명
GUGUN
강서구     17
금정구     22
기장군     21
남구      18
동구       7
동래구     22
부산진구    32
북구      27
사상구     21
사하구     27
서구      11
수영구     10
연제구     16
영도구     14
중구       4
해운대구    33

In [164]:
elementary.rename(columns={'기관명':'elementary_cnt'}, inplace=True)
elementary

       elementary_cnt
GUGUN
강서구                17
금정구                22
기장군                21
남구                 18
동구                  7
동래구                22
부산진구               32
북구                 27
사상구                21
사하구                27
서구                 11
수영구                10
연제구                16
영도구                14
중구                  4
해운대구               33

In [165]:
elementary

       elementary_cnt
GUGUN
강서구                17
금정구                22
기장군                21
남구                 18
동구                  7
동래구                22
부산진구               32
북구                 27
사상구                21
사하구                27
서구                 11
수영구                10
연제구                16
영도구                14
중구                  4
해운대구               33

In [146]:
middle = pd.read_csv('./csv/school/middle.csv', encoding='utf-8')
middle

    Unnamed: 0 GUGUN  middle_cnt
0            0   강서구          11
1            1   금정구          12
2            2   기장군           7
3            3    남구          13
4            4    동구           6
5            5   동래구          14
6            6    부산           1
7            7  부산진구          18
8            8    북구          16
9            9   사상구          10
10          10   사하구          16
11          11    서구           7
12          12   수영구           6
13          13   연제구           8
14          14   영도구           9
15          15    중구           1
16          16  해운대구          19

In [147]:
middle = middle.drop('Unnamed: 0', axis=1)
middle

   GUGUN  middle_cnt
0    강서구          11
1    금정구          12
2    기장군           7
3     남구          13
4     동구           6
5    동래구          14
6     부산           1
7   부산진구          18
8     북구          16
9    사상구          10
10   사하구          16
11    서구           7
12   수영구           6
13   연제구           8
14   영도구           9
15    중구           1
16  해운대구          19

In [148]:
middle = middle.set_index('GUGUN')
middle

       middle_cnt
GUGUN
강서구            11
금정구            12
기장군             7
남구             13
동구              6
동래구            14
부산              1
부산진구           18
북구             16
사상구            10
사하구            16
서구              7
수영구             6
연제구             8
영도구             9
중구              1
해운대구           19

In [169]:
high = pd.read_csv('./csv/school/high.csv', encoding='euc-kr')
high

   GUGUN  학교명
0    강서구    6
1    금정구   14
2    기장군    5
3     남구   15
4     동구    6
5    동래구   13
6   부산진구   18
7     북구    9
8    사상구    6
9    사하구   14
10    서구    5
11   수영구    4
12   연제구    5
13   영도구    7
14    중구    4
15  해운대구   14

In [170]:
high = high.set_index('GUGUN')
high

       학교명
GUGUN
강서구      6
금정구     14
기장군      5
남구      15
동구       6
동래구     13
부산진구    18
북구       9
사상구      6
사하구     14
서구       5
수영구      4
연제구      5
영도구      7
중구       4
해운대구    14

In [172]:
high.rename(columns={'학교명':'high_cnt'}, inplace=True)
high

       high_cnt
GUGUN
강서구           6
금정구          14
기장군           5
남구           15
동구            6
동래구          13
부산진구         18
북구            9
사상구           6
사하구          14
서구            5
수영구           4
연제구           5
영도구           7
중구            4
해운대구         14

In [166]:
elementary

       elementary_cnt
GUGUN
강서구                17
금정구                22
기장군                21
남구                 18
동구                  7
동래구                22
부산진구               32
북구                 27
사상구                21
사하구                27
서구                 11
수영구                10
연제구                16
영도구                14
중구                  4
해운대구               33

In [176]:
middle = middle.drop(['부산'])
middle

       middle_cnt
GUGUN
강서구            11
금정구            12
기장군             7
남구             13
동구              6
동래구            14
부산진구           18
북구             16
사상구            10
사하구            16
서구              7
수영구             6
연제구             8
영도구             9
중구              1
해운대구           19

In [173]:
high

       high_cnt
GUGUN
강서구           6
금정구          14
기장군           5
남구           15
동구            6
동래구          13
부산진구         18
북구            9
사상구           6
사하구          14
서구            5
수영구           4
연제구           5
영도구           7
중구            4
해운대구         14

In [178]:
total = pd.concat([elementary, middle, high], axis=1)

In [179]:
total

       elementary_cnt  middle_cnt  high_cnt
GUGUN
강서구                17          11         6
금정구                22          12        14
기장군                21           7         5
남구                 18          13        15
동구                  7           6         6
동래구                22          14        13
부산진구               32          18        18
북구                 27          16         9
사상구                21          10         6
사하구                27          16        14
서구                 11           7         5
수영구                10           6         4
연제구                16           8         5
영도구                14           9         7
중구                  4           1         4
해운대구               33          19        14

In [180]:
total.to_csv('./csv/school/school.csv')