In [13]:
import pandas as pd

In [14]:
library = pd.read_csv('./csv/library/incheon_library.csv', encoding='euc-kr')

In [15]:
library

,도서관명,시도명,시군구명,도서관유형,휴관일,평일운영시작시각,평일운영종료시각,토요일운영시작시각,토요일운영종료시각,공휴일운영시작시각,...,대출가능일수,소재지도로명주소,운영기관명,도서관전화번호,부지면적,건물면적,홈페이지주소,위도,경도,데이터기준일자
0,내가도서관,인천광역시,강화군,공공도서관,매주금요일,09:00,22:00,09:00,18:00,09:00,...,14,인천광역시 강화군 내가면 강화서로 249,인천광역시 강화군청,032-934-1528,179,378,http://www.ghlib.net,37.7193494,126.3898462,2019-09-20
1,강화도서관,인천광역시,강화군,공공도서관,매주월요일,08:00,22:00,08:00,22:00,08:00,...,14,인천광역시 강화군 북문길9번길 18,인천광역시 강화군청,032-932-8264,1528,2190,http://www.ghlib.net,37.7488047,126.4831601,2019-09-20
2,도서관명,시도명,시군구명,도서관유형,휴관일,평일운영시작시각,평일운영종료시각,토요일운영시작시각,토요일운영종료시각,공휴일운영시작시각,...,대출가능일수,소재지도로명주소,운영기관명,도서관전화번호,부지면적,건물면적,홈페이지주소,위도,경도,데이터기준일자
3,작전도서관,인천광역시,계양구,공공도서관,매주금요일,06:00,22:00,06:00,22:00,06:00,...,14,인천광역시 계양구 오조산로21번길 4,계양문화원,032-555-9734,17043,1683,http://www.gygl.go.kr,37.5330069,126.7376606,2019-10-31
4,효성도서관,인천광역시,계양구,공공도서관,매주수요일,06:00,22:00,06:00,22:00,06:00,...,14,인천광역시 계양구 봉오대로600번길 14,계양문화원,032-547-3862,2149,1454,http://www.gygl.go.kr,37.5297327,126.7150576,2019-10-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,영온 도서관,인천광역시,중구,작은도서관,"월·일요일, 법정공휴일 등",10:00,19:00,10:00,19:00,00:00,...,0,"인천광역시 중구 하늘달빛로64번길 6-3, (중산동)",NaN,032-752-8012,NaN,NaN,NaN,37.4857526187,126.560446466,2019-06-03
168,하늘꿈 도서관,인천광역시,중구,작은도서관,"화·목·토·일요일, 법정공휴일 등",10:00,16:00,00:00,00:00,00:00,...,0,"인천광역시 중구 은하수로 465, (중산동, 영종7단지엘에이치)",NaN,NaN,NaN,NaN,NaN,37.4843427632,126.551631124,2019-06-03
169,용유중앙도서관,인천광역시,중구,작은도서관,법정공휴일,09:00,18:00,09:00,18:00,09:00,...,0,인천광역시 중구 용유서로304번길 7,NaN,NaN,NaN,NaN,NaN,37.4460063,126.3758621,2019-06-03
170,영종1단지LH아파트작은도서관,인천광역시,중구,작은도서관,법정공휴일,09:00,18:00,09:00,18:00,09:00,...,7,인천광역시 중구 영종대로278번길 50,NaN,032-746-9029,NaN,NaN,NaN,NaN,NaN,2019-06-03
171,하늘기쁨작은도서관,인천광역시,중구,작은도서관,법정공휴일,09:00,18:00,09:00,18:00,09:00,...,7,인천광역시 중구 월촌길 52(중산동),NaN,032-751-9190,NaN,NaN,NaN,NaN,NaN,2019-06-03

In [16]:
library1 = library[['도서관명','시군구명']]
library1

                도서관명  시군구명
0              내가도서관   강화군
1              강화도서관   강화군
2               도서관명  시군구명
3              작전도서관   계양구
4              효성도서관   계양구
..               ...   ...
167           영온 도서관    중구
168          하늘꿈 도서관    중구
169          용유중앙도서관    중구
170  영종1단지LH아파트작은도서관    중구
171        하늘기쁨작은도서관    중구

[172 rows x 2 columns]

In [17]:
library2 = library1[library1.도서관명 != '도서관명']
library2

                도서관명 시군구명
0              내가도서관  강화군
1              강화도서관  강화군
3              작전도서관  계양구
4              효성도서관  계양구
5              서운도서관  계양구
..               ...  ...
167           영온 도서관   중구
168          하늘꿈 도서관   중구
169          용유중앙도서관   중구
170  영종1단지LH아파트작은도서관   중구
171        하늘기쁨작은도서관   중구

[163 rows x 2 columns]

In [18]:
library3 = library2.rename(columns={'시군구명':'GUGUN'})
library3

                도서관명 GUGUN
0              내가도서관   강화군
1              강화도서관   강화군
3              작전도서관   계양구
4              효성도서관   계양구
5              서운도서관   계양구
..               ...   ...
167           영온 도서관    중구
168          하늘꿈 도서관    중구
169          용유중앙도서관    중구
170  영종1단지LH아파트작은도서관    중구
171        하늘기쁨작은도서관    중구

[163 rows x 2 columns]

In [19]:
library4 = library3.groupby('GUGUN').count()
library4

       도서관명
GUGUN
강화군       2
계양구       4
남동구       4
동구        1
미추홀구     13
부평구      36
서구       69
연수구      13
옹진군       5
중구       16

In [20]:
library5 = library4.rename(columns={'도서관명':'도서관수'})
library5

       도서관수
GUGUN
강화군       2
계양구       4
남동구       4
동구        1
미추홀구     13
부평구      36
서구       69
연수구      13
옹진군       5
중구       16

In [23]:
library5.to_csv('./csv/2_INCHEON/jiyoon/incheon_gugun_library.csv', encoding='euc-kr')

In [22]:
library5

       도서관수
GUGUN
강화군       2
계양구       4
남동구       4
동구        1
미추홀구     13
부평구      36
서구       69
연수구      13
옹진군       5
중구       16