In [30]:
import pandas as pd

In [31]:
park = pd.read_csv('./csv/park/park.csv', encoding='utf-8')

In [32]:
print(park)

     skey    manage_no   park_nm park_se                     rdnmadr  \
0       1  26290-00003      당곡공원    역사공원                           -
1       2  26290-00001      대연공원    근린공원                           -
2       3  26290-00004   대일어린이공원   어린이공원  부산광역시 남구 유엔평화로13번길 63(대연동)
3       4  26290-00005   못골어린이공원   어린이공원        부산광역시 남구 진남로 46번길 37
4       5  26290-00006   솔밭어린이공원   어린이공원            부산광역시 남구 동명로 114
..    ...          ...       ...     ...                         ...
610   611  26530-00028     해름소공원     소공원                           -
611   612  26530-00029     다누림공원     소공원      부산광역시 사상구 가야대로196번길 51
612   613  26530-00030  모라벤처타워공원     소공원                           -
613   614  26530-00031      주감공원     소공원                           -
614   615  26530-00032      문화공원    문화공원            부산광역시 사상구 삼덕로 82

                  lnm_adres         la          lo  park_ar  \
0       부산광역시 남구 대연동 산205-2  35.125023  129.091385  75465.0
1     부산광역시 남구 대연동 산100-1일원  35.140147  129.094511  55227.0
2       부산광역시 남구 대연동 1727-1  35.134079  129.095471    422.1
3       부산광역시 남구 대연동 1475-2  35.139799  129.090081    499.8
4        부산광역시 남구 용호동 409-5  35.120074  129.109518   1500.2
..                      ...        ...         ...      ...
610    부산광역시 사상구 엄궁동 652-16  35.124555  128.965540    835.0
611  부산광역시 사상구 학장동288-12 일원  35.147332  128.994744   1300.0
612    부산광역시 사상구 모라동 1375-3  35.184372  128.999502    735.8
613    부산광역시 사상구 주례동 1288-1  35.153963  128.998979   1250.0
614  부산광역시 사상구 덕포동 413-1 일원  35.173358  128.985689   3160.0

    park_hold_fclty_mvm park_hold_fclty_amsmt park_hold_fclty_cnvnnc  \
0                     -                     -                      -
1                     -                     -                      -
2                     -                     -                      -
3                     -                     -                      -
4                     -                     -                      -
..                  ...                   ...                    ...
610                   -                     -                      -
611                   -                     -                      -
612                   -                     -                      -
613                   -                     -                      -
614                   -                     -                      -

    park_hold_fclty_cltr park_hold_fclty_etc appn_ntfc_de      mgc_nm  \
0                      -                   -   1944-01-08           -
1                      -                   -   1944-01-03           -
2                      -                   -   1965-11-10           -
3                      -                   -   1968-10-25           -
4                      -                   -   1970-08-07           -
..                   ...                 ...          ...         ...
610                    -        파고라 외 4종 14점   2008-04-09  부산광역시 사상구청
611                    -             연식의자 1점   2008-12-24  부산광역시 사상구청
612                    -        평의자 외 2종 12점   2012-04-11  부산광역시 사상구청
613                    -         파고라 외 4종 7점   2013-01-09  부산광역시 사상구청
614                    -                   -   2017-07-19  부산광역시 사상구청

            telno              data_stdde
0               -  2018-08-14 AM 12:00:00
1               -  2018-08-14 AM 12:00:00
2               -  2018-08-14 AM 12:00:00
3               -  2018-08-14 AM 12:00:00
4               -  2018-08-14 AM 12:00:00
..            ...                     ...
610  051-310-4521  2019-03-21 AM 12:00:00
611  051-310-4521  2019-03-21 AM 12:00:00
612  051-310-4521  2019-03-21 AM 12:00:00
613  051-310-4521  2019-03-21 AM 12:00:00
614  051-310-4521  2019-03-21 AM 12:00:00

[615 rows x 18 columns]

In [33]:
park.columns

Index(['skey', 'manage_no', 'park_nm', 'park_se', 'rdnmadr', 'lnm_adres', 'la',
       'lo', 'park_ar', 'park_hold_fclty_mvm', 'park_hold_fclty_amsmt',
       'park_hold_fclty_cnvnnc', 'park_hold_fclty_cltr', 'park_hold_fclty_etc',
       'appn_ntfc_de', 'mgc_nm', 'telno', 'data_stdde'],
      dtype='object')

In [34]:
park.head()

,skey,manage_no,park_nm,park_se,rdnmadr,lnm_adres,la,lo,park_ar,park_hold_fclty_mvm,park_hold_fclty_amsmt,park_hold_fclty_cnvnnc,park_hold_fclty_cltr,park_hold_fclty_etc,appn_ntfc_de,mgc_nm,telno,data_stdde
0,1,26290-00003,당곡공원,역사공원,-,부산광역시 남구 대연동 산205-2,35.125023,129.091385,75465.0,-,-,-,-,-,1944-01-08,-,-,2018-08-14 AM 12:00:00
1,2,26290-00001,대연공원,근린공원,-,부산광역시 남구 대연동 산100-1일원,35.140147,129.094511,55227.0,-,-,-,-,-,1944-01-03,-,-,2018-08-14 AM 12:00:00
2,3,26290-00004,대일어린이공원,어린이공원,부산광역시 남구 유엔평화로13번길 63(대연동),부산광역시 남구 대연동 1727-1,35.134079,129.095471,422.1,-,-,-,-,-,1965-11-10,-,-,2018-08-14 AM 12:00:00
3,4,26290-00005,못골어린이공원,어린이공원,부산광역시 남구 진남로 46번길 37,부산광역시 남구 대연동 1475-2,35.139799,129.090081,499.8,-,-,-,-,-,1968-10-25,-,-,2018-08-14 AM 12:00:00
4,5,26290-00006,솔밭어린이공원,어린이공원,부산광역시 남구 동명로 114,부산광역시 남구 용호동 409-5,35.120074,129.109518,1500.2,-,-,-,-,-,1970-08-07,-,-,2018-08-14 AM 12:00:00

In [35]:
park = park.loc[:, ['park_nm','lnm_adres']]
park

      park_nm               lnm_adres
0        당곡공원     부산광역시 남구 대연동 산205-2
1        대연공원   부산광역시 남구 대연동 산100-1일원
2     대일어린이공원     부산광역시 남구 대연동 1727-1
3     못골어린이공원     부산광역시 남구 대연동 1475-2
4     솔밭어린이공원      부산광역시 남구 용호동 409-5
..        ...                     ...
610     해름소공원    부산광역시 사상구 엄궁동 652-16
611     다누림공원  부산광역시 사상구 학장동288-12 일원
612  모라벤처타워공원    부산광역시 사상구 모라동 1375-3
613      주감공원    부산광역시 사상구 주례동 1288-1
614      문화공원  부산광역시 사상구 덕포동 413-1 일원

[615 rows x 2 columns]

In [36]:
small_addr = list()

addr = park.loc[:, ['lnm_adres']].values 
for tmp in addr :
    small_addr.append(tmp[0].split(" ")[1])

print(small_addr)

['남구', '남구', '남구', '남구', '남구', '남구', '남구', '남구', '남구', '남구', '남구', '남구', '남구', '남구', '남구', '남구', '남구', '남구', '남구', '남구', '남구', '남구', '남구', '남구', '남구', '남구', '남구', '남구', '남구', '남구', '남구', '남구', '남구', '남구', '남구', '남구', '남구', '남구', '남구', '남구', '남구', '연제구', '연제구', '연제구', '연제구', '연제구', '연제구', '연제구', '연제구', '연제구', '연제구', '연제구', '연제구', '연제구', '연제구', '연제구', '연제구', '연제구', '연제구', '연제구', '연제구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '부산진구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '북구', '중구', '중구', '중구', '영도구', '영도구', '영도구', '영도구', '영도구', '영도구', '영도구', '영도구', '영도구', '영도구', '영도구', '영도구', '영도구', '영도구', '영도구', '금정구', '금정구', '금정구', '금정구', '금정구', '금정구', '금정구', '금정구', '금정구', '금정구', '금정구', '금정구', '금정구', '금정구', '금정구', '금정구', '금정구', '금정구', '금정구', '금정구', '금정구', '금정구', '금정구', '금정구', '금정구', '금정구', '금정구', '금정구', '금정구', '금정구', '금정구', '금정구', '금정구', '금정구', '금정구', '금정구', '동구', '동구', '동구', '동구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '해운대구', '중구', '부산진구', '동래구', '중구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '동래구', '서구', '서구', '서구', '서구', '서구', '서구', '서구', '서구', '서구', '서구', '서구', '서구', '서구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '사하구', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '기장군', '수영구', '수영구', '수영구', '수영구', '수영구', '수영구', '수영구', '수영구', '수영구', '수영구', '수영구', '수영구', '수영구', '수영구', '사상구', '사상구', '사상구', '사상구', '사상구', '사상구', '사상구', '사상구', '사상구', '사상구', '사상구', '사상구', '사상구', '사상구', '사상구', '사상구', '사상구', '사상구', '사상구', '사상구', '사상구', '사상구', '사상구', '사상구', '사상구', '사상구', '사상구', '사상구', '사상구', '사상구', '사상구', '사상구']

In [37]:
park['GUGUN'] = small_addr

In [38]:
df = park.drop(['lnm_adres'], axis='columns', inplace=True)
print(df)

None

In [39]:
park.head()

   park_nm GUGUN
0     당곡공원    남구
1     대연공원    남구
2  대일어린이공원    남구
3  못골어린이공원    남구
4  솔밭어린이공원    남구

In [40]:
park.rename(columns = {'park_nm':'공원명'},inplace=True)
park

          공원명 GUGUN
0        당곡공원    남구
1        대연공원    남구
2     대일어린이공원    남구
3     못골어린이공원    남구
4     솔밭어린이공원    남구
..        ...   ...
610     해름소공원   사상구
611     다누림공원   사상구
612  모라벤처타워공원   사상구
613      주감공원   사상구
614      문화공원   사상구

[615 rows x 2 columns]

In [41]:
park = park.groupby("GUGUN").count()

In [43]:
park

       공원명
GUGUN
강서구     72
금정구     36
기장군     83
남구      41
동구       4
동래구     48
부산진구    31
북구      72
사상구     32
사하구     60
서구      13
수영구     14
연제구     20
영도구     15
중구       5
해운대구    69

In [44]:
park.to_csv('./csv/park/gugun_park.csv', encoding='euc-kr')